@keyframes popForward {
  0% {
      transform: scale(0.8);
      opacity: 0;
  }
  100% {
      transform: scale(1);
      opacity: 1;
  }
}

.navBarContainer {
  background-color: white;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: white;
  margin-bottom: 10%;
}

.text {
  color: rgb(57, 175, 195);
}

.mainContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  padding-right: 6%;
  padding-left: 6%;
}

.leftSection {
  max-width: 600px;
}

.wrapper {
  border-radius: 10px;
  overflow: hidden;
}

.header {
  font-size: 1rem;
  font-weight: bold;
  color: rgb(87, 81, 81);
  border-radius: 10px;
  border: 1px solid;
  margin-top: 20%;
  display: inline-block;
  padding: 10px;
}

.title {
  margin-top: 2rem;
  font-size: 3rem;
  font-weight: 600;
  color: #111827;
  animation: popForward 1s ease-out forwards; /* Apply the animation */
}

.description {
  margin-top: 1rem;
  font-size: 1.120rem;
  color: hsl(0, 1%, 44%);
}

.buttonsContainer {
  margin-top: 1.5rem;
  display: flex;
  gap: 1rem;
}

.downloadButton,
.getStartedButton {
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  font-weight: 500;
  color: white;
  border-radius: 25px;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.downloadButton {
  background-color: #2563eb;
}

.downloadButton:hover {
  background-color: #1d4ed8;
}

.getStartedButton {
  border: solid 1px black;
  color: black;
}

.acceptedSection {
  margin-top: 1.5rem;
}

.acceptedText {
  font-size: 1rem;
  color: black;
  font-weight: bold;
}


.rightSection {
  max-width: 700px;
  margin-top: 3rem;
  margin-right: 6%;
  margin-bottom: 10%;
  position: absolute;
  top: 10%;
  right: 0;
}
