.dropdownContainer {
    position: relative;
    display: inline-block;
      margin-left: 6%;
      margin-right: 6%;
      padding-left:3%;
      padding-right: 3%;
      margin-top: 2%;
  
  }
  
  .dropdownButton {
    display: flex; /* Use Flexbox for alignment */
    align-items: center; /* Vertically align items */
    justify-content: space-between; /* Ensure space between text and icon */
    background-color: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
  }
  
  .dropdownButton span {
    flex-grow: 1; /* Pushes the icon to the right */
    text-align: left; /* Ensures the text is aligned left */
  }
  
  .dropdownIcon {
    margin-left: auto; /* Ensures the icon is aligned to the right */
  }
  
  .dropdownMenu {
    position: absolute;
    top: 100%; /* Position the dropdown below the button */
    left: 0;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 180px;
    height: 140px;
    list-style: none;
    padding: 5px;
    margin: 0;
    z-index: 10;
  }
  
  
  .dropdownMenu li a {
    text-decoration: none;
    font-size: 15px;
    color: black;
  }
  
  .dropdownMenu li a:hover {
    background-color: #98a0aa;
  }
  