.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 3%;
    margin-left: 0;
    margin-right: 0;
  }
  
  .heading {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 2rem;
  }
  
  .options {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%; /* Adjust width to fit content */
    gap: 10%;
    font-weight: bold;
    margin: 0;
  }
  
  .option {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
  }


  .row {
    display: flex;
    flex-direction: row; /* Place items in a single row */
    align-items: center;
    justify-content: space-between; /* Space items evenly in the row */
    width: 100%; /* Ensure rows take full width */
    gap: 10%; /* Spacing between items */
  }
  
  
  .option img {
    margin-bottom: 0.5rem;
   
  }
  
  .option p {
    font-size: 1rem;
    color: #333;
    margin: 0;
  }
  
  .divider {
    height: 150px; /* Adjust based on your design */
    width: 1px;
    background-color: #ddd; /* Light border line */
    margin: 0 1rem;
    align-items: center;
  }
  