.container {
    display: flex;
    flex-direction: column;
    padding: 30px;
    min-height: 100vh;
    background: linear-gradient(to right, rgb(230, 247, 246), white);
    justify-content: center;
    text-align: center;
    margin-left: 6%;
    margin-right: 6%;
    margin-top: 2%;
  }
  
  .mainContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
  }
  
  .heading {
    font-size: 2.7rem;
    font-weight: bold;
    color: navy;
    font-family: sans-serif;
    text-align: left; /* Align text to the left */
    margin-left: 20px;
  }
  
  .subHeading {
    display: block; /* Forces the span to take a new line */
    font-size: 2.5rem; /* Adjust font size for the second line */
    text-align: center; /* Center align to the left side */
    margin-left: 20px; 
    margin-bottom: 50px; /* Ensure spacing between the heading and buttons */
  }
  
  
  .downloadButtons {
   
    display: flex;
    justify-content: flex-start; /* Align buttons to the left */
    margin-left: 7%;
    gap: 13%;  
    margin-bottom: 35px;
  }
  
  .button {
    display: inline-block;
    width: 150px; /* Adjust button width */
    height: 65px;
  }
  
  
  .imageContainer {
    margin-left: 20px;
    position: absolute;
    top: 30px;
    right: 25px;
  }
  
  .phoneImage {
    margin-top: 30px;
    width: 400px; /* Increased size */
    height: auto;
    border-radius: 10px;
    justify-content: right;
    
  }
  
  .footer {
    margin-top: 15px;
    text-align: left;
  }
  
  .socialLinks {
    margin-top: 8px; /* Ensure spacing between buttons and icons */
    display: flex;
    justify-content: left;
    margin-left: 15%;
    
  }
  
  .socialIcon img {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin-left: 50px;
  }
  
  .websiteLink {
    margin-top: 10px;
    display: inline-block;
    color: black;
    text-decoration: none;
    margin-left: 19%;
  }
  
 
  