@keyframes moveRight {
  0% {
    transform: translateX(-100px); /* Start off-screen to the left */
    opacity: 0; /* Start hidden */
  }
  100% {
    transform: translateX(0); /* End at its original position */
    opacity: 1; /* Fully visible */
  }
}

.textSection {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.textSection h1 {
  font-size: 2rem;
  color: black;
  margin-bottom: 20px;
  text-align: center; /* Center the text inside the h1 and p tags */
  margin-top: 15%;
  font-family: 'Arial Black', Gadget, sans-serif;
  font-weight: bold;
  line-height: 1.2;
}

.textSection p {
  font-size: 1rem;
  color: #555;
  margin-bottom: 30px;
  margin-top: 2.5%;
  text-align: center; /* Center the text inside the h1 and p tags */
}

.bulletPoints {
  opacity: 0; /* Start hidden */
  transform: translateX(-100px); /* Start off-screen to the left */
  transition: transform 0.5s, opacity 0.5s;
}

.bulletPoints.animate {
  animation: moveRight 2s ease-out forwards; /* Apply the animation */
}

.bulletItem {
  display: block;
  align-items: center;
  gap: 2px;
  margin-top: 7%;
  font-size: 1.1rem;
  color: black;
  font-weight: bold;
}

.imageSection {
  display: flex;
  justify-content: flex-end; /* Align the image to the right */
  margin-top: -35%;
  margin-left: 5%;
}
